<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title>文章详情</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="http://m.qu93.com/static/yimin/css/common.css">
  <link rel="stylesheet" href="../../../../static/css/views/news/article.css">
</head>
<body>
<div id="app">
  <div class="article">
    <div class="article-header">
      <h2 class="article-title">红了10多年，这位导游界男网红怎么做到的？</h2>
      <div class="article-meta">
        <span class="article-author">巡山大王</span>
        <span class="article-time">2016/06/06</span>
        <span class="view-count">浏览量6892</span>
      </div>
    </div>
  </div>
  <div class="comment-container"  v-infinite-scroll="loadMore()"
       infinite-scroll-disabled="busy" infinite-scroll-distance="60">
    <div class="comment">
      <div class="author-info">
        <div class="author-avatar"><img class="image"
                                        src="http://simg-ui.lvbaoyou.com/test_fileId_ffa8d749-3a27-4c37-9a95-4a83a7508128"
                                        alt="殷飞歼击机"></div>
        <div class="content">
          <div class="author-header">
            <div class="author-name">殷飞歼击机</div>
          </div>
          <time>30分钟前</time>
          <div class="text">说的很好</div>
        </div>
      </div>
    </div>
    <comment :comments="comments"></comment>
  </div>
  <div class="footer-bar">
    <button type="button" class="action-button button-arrow"><i
      class="icon icon-caret"></i></button>
    <message-box></message-box>
  </div>
  <loading :is-loading="isLoading"></loading>
</div>
<script src="http://m.qu93.com/static/yimin/js/build.vendor.js"></script>
<script src="../../../../dist/static/js/build.comment.js"></script>
<script>
  var jsConfig = {
    articleId: 5
  };
</script>
</body>
</html>