<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title>举报</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="http://m.qu93.com/static/yimin/css/common.css">
  <link rel="stylesheet" href="../../../../static/css/views/news/complain.css">
</head>
<body>
<div id="app">
  <div class="space"></div>
  <div class="complain">
    <div class="complain-summary">
      举报 <span>猪猪侠</span> 的文章：
      <p>慢城慢生活-----记录我的葡萄牙移民艰辛之路</p>
    </div>
    <div class="radio-types">
      <label for="reason_1"><input id="reason_1"
                                   type="radio"
                                   v-model="reason" value="垃圾营销">垃圾营销</label>
      <label for="reason_2"><input id="reason_2"
                                   type="radio"
                                   v-model="reason" value="不实信息">不实信息</label>
      <label for="reason_3"><input id="reason_3"
                                   type="radio"
                                   v-model="reason" value="有害信息">有害信息</label>
      <label for="reason_4"><input id="reason_4"
                                   type="radio"
                                   v-model="reason" value="违法信息">违法信息</label>
      <label for="reason_5"><input id="reason_5"
                                   type="radio"
                                   v-model="reason" value="淫秽色情">淫秽色情</label>
      <label for="reason_6"><input id="reason_6"
                                   type="radio"
                                   v-model="reason" value="人身攻击我">人身攻击我</label>
    </div>
  </div>
  <div class="extra-field">
    <button type="button" @touchstart="onSubmit"
            class="button button-primary button-full button-medium">
      确定
    </button>
  </div>
  <guide-tip :tip-text="tipText" :show-guide-tip="showGuideTip"></guide-tip>
</div>
<script src="http://m.qu93.com/static/yimin/js/build.vendor.js"></script>
<script src="../../../../dist/static/js/build.complain.js"></script>
<script>
  var jsConfig = {
    articleId: 1
  };
</script>
</body>
</html>