.button {
  border-radius: 36px;
  color: #fff;
}

.button-disable {
  opacity: .6;
}

.button-full {
  width: 100%;
}

.button-medium {
  padding: 15px;
  font-size: 18px;
}

.button-primary {
  background-color: #e2694f;
}

.button-action-vertifycode {
  width: 105px;
  height: 30px;
  padding: 5px 8px;
  border: 1px solid #7c8389;
  border-radius: 36px;
  font-size: 13px;
  color: #7c8389;
  background-color: #fff;
}