.loading {
  width: 130px;
  height: 32px;
  margin: 20px auto;
  padding-left: 42px;
  line-height: 32px;
  background: url(/static/images/spinner-medium-2x-3ffcb44b.gif) no-repeat 0 0;
  background-size: 32px 32px;
  color: #999;
}
